{{/* Forgente: create a branch from an issue */}}
{{if and (not .Issue.IsPull) (not .Repository.IsArchived) (not .Repository.IsEmpty) .Repository.CanCreateBranch ($.Permission.CanWrite ctx.Consts.RepoUnitTypeCode)}}
	<div class="divider"></div>
	<button class="fluid ui show-modal button" data-modal="#forgente-create-branch-modal">
		{{svg "octicon-git-branch"}} {{ctx.Locale.Tr "repo.issues.create_branch_from_issue"}}
	</button>
	<div class="ui mini modal" id="forgente-create-branch-modal">
		<div class="header">{{ctx.Locale.Tr "repo.branch.new_branch"}}</div>
		<form class="ui form" action="{{.Issue.Link}}/create_branch" method="post">
			<div class="content">
				<div class="field">
					{{ctx.Locale.Tr "repo.issues.create_branch_from_default" .Repository.DefaultBranch}}
				</div>
				<div class="required field">
					<label for="forgente-new-branch-name">{{ctx.Locale.Tr "repo.branch.name"}}</label>
					<input id="forgente-new-branch-name" name="new_branch_name" value="{{.Issue.ForgenteDefaultBranchName}}" required>
				</div>
			</div>
			{{template "base/modal_actions_confirm" (dict "ModalButtonTypes" "confirm")}}
		</form>
	</div>
{{end}}
